<table class="table table-hover">
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Available copies</th>
      <th>Details</th>
      <% if current_user != nil %>
      <th>Borrow</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% b.each do |book| %>
      <tr>
        <td><%= book.author %></td>
        <td><%= book.title %></td>
        <td><%= book.count - book.borrowed_count %></td>
        <td><%= link_to 'Show details', book %></td>
        <% if current_user != nil %>
          <% if book.count - book.borrowed_count > 0 %>
            <td><%= link_to "Borrow", orderbook_path(book) %></td>
          <% else %>
            <td>All copies borrowed</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
