<h4>Book info</h4>

<table class="table table-bordered">
  <tr>
    <th scope="row">Author</th>
    <td><%= @book.author %></td>
  </tr>
  <tr>
    <th scope="row">Title</th>
    <td><%= @book.title %></td>
  </tr>
  <tr>
    <th scope="row">Description</th>
    <td><%= @book.description%></td>
  </tr>
  <tr>
    <th scope="row">Year of edition</th>
    <td><%= @book.year %></td>
  </tr>
  <tr>
    <th scope="row">Publisher</th>
    <td><%= @book.publisher %></td>
  </tr>
  <tr>
    <th scope="row">Copies count</th>
    <td><%= @book.count %></td>
  </tr>
  <tr>
    <th scope="row">Total borrowed copies count</th>
    <td><%= @book.orders.count %></td>
  </tr>
  <tr>
    <th scope="row">Copies count borrowed at this moment</th>
    <td><%= @book.borrowed_count %></td>
  </tr>
  <tr>
    <th scope="row">Copies count to borrow at this moment</th>
    <td><%= @book.count - @book.borrowed_count %></td>
  </tr>
</table>

<footer class="text-right">
  <%if params[:controller] == "admin/books" %>
    <%= link_to "Back", admin_books_path, class:"btn btn-dark" %>
  <% else %>
    <%= link_to "Back", books_path, class: "btn btn-dark" %>
  <% end %>
</footer>
