<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <h4 class="navbar-text"><%= link_to "Biblioteczka", root_path %></h4>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="nav navbar-nav navbar-right">
              <% if params[:controller] == "admin/books" %>
                <p class="navbar-text"><b>Panel Admina</b></p>
              <% end %>
              <% if current_user %>
                <p class="navbar-text">Zalogowano jako <strong><%= current_user.name %></strong></p>
                <% if params[:controller] == "orders" %>
                  <p class="navbar-text"><%= link_to "Powrót do dostępnych książek", root_path %></p>
                <% else %>
                  <p class="navbar-text"><%= link_to "Twoje wypożyczenia", orders_path %></p>
                <% end %>
                <p class="navbar-text"><%= link_to "Wyloguj się", signout_path, id: "sign_out" %></p>
              <% else %>
                <p class="navbar-text"><%= link_to "Zaloguj się przez Google", "/auth/google_oauth2", id: "sign_in" %></p>
                <p class="navbar-text"><%= link_to "Admin", admin_books_path %></p>
              <% end %>
            </div>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <% if flash[:notice] %>
        <div class="alert alert-warning alert-dismissible" role="alert"><%= flash[:notice] %></div>
      <% end %>




      <%= yield %>

    </div>
  </body>
</html>
